@font-face {
    font-family: 'EmaxerSaudiRiyal';
    src: url('/static/fonts/EmaxerSaudiRiyalRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.sar{
    font-family: 'EmaxerSaudiRiyal', sans-serif;
    margin: .2rem;
    font-weight: 100;
}