@font-face {
  font-family: 'EmaxerSaudiRiyal';
  src: url('/static/fonts/EmaxerSaudiRiyalRegular.woff2') format('woff2');
  font-display: block; /* or swap/fallback depending on your layout goals */
  font-weight: normal;
  font-style: normal;
}

.sar{
    font-family: 'EmaxerSaudiRiyal', sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin: .2rem;
}